<%= form_with model: @conversation.messages.new, url: conversation_path(@conversation), method: :patch, class: 'mt-2 float-end', data: { controller: :form, action: "turbo:submit-end->form#clear" } do |f| %>
  <%= f.text_area :content, rows: '4' %>
  <button type="submit "><i class="d-flex justify-content-center bi bi-arrow-up-short"></i></button>
<% end %>
