<h1>Conversations</h1>

<!-- @brief: This demo is only for two users so  -->
<% @receiver_members.each do |receiver_member| %>
  <% user = receiver_member.user %>
  <%= link_to user.full_name, conversation_path(receiver_member.conversation_id), class: 'btn btn-warning' %>
<% end %>
